<nav class="nav-bar">
    <a class="brand-icon__img-holder" routerLink="">
        <img class="brand-icon__img" src="../../assets/icon.png" alt="Mobile Mart">
        <h1 class="brand-icon__title">Mobiles Mart</h1>
    </a>
    <ul class="nav-items__container">
        <li class="nav-items">
            <input class="nav-search" type="text" name="search" placeholder="Search">
            <button><img src="../../assets/search.png" alt="Search!" ></button>
        </li>
        <li class="nav-items"><a routerLink="">Home</a></li>
        <li class="nav-items"><a routerLink="brands">ALL</a></li>
    </ul>
</nav>