<div class="container">
    <div class="part icon">
        <a class="footer-img__holder" routerLink="">
            <img class="footer-img" src="../../assets/icon.png" alt="Mobiles Mart">
            <h3 class="footer-title">Mobiles Mart</h3>
        </a>
    </div>
    <div class="part footer-data">
        <div class="footer-data__links">
            <a class="footer-data__link" routerLink="">Home</a>
            <a class="footer-data__link" routerLink="brands">All</a>
        </div>
        <div class="footer-data__paragraph">
            <h3 class="footer-data__paragraph-title">www.MobilesMart.com</h3>
            <p>Find the complete list of all what you need.</p>
        </div>
    </div>
</div>